/**
 * Tistory - Book Club CSS
**/

/* ========== Mobile Screen ========== */
@media screen and (max-width: 767px) {
    /* ========== Sticky - fix overflow ========== */
    #container div.content-wrap {
        flex-direction: column;
        flex-flow: column;
    }
}


/* ========== Fixed Top Button ========== */
footer#footer a.page-top {
    position: fixed;
    top: unset;
    bottom: 15px;
    right: 15px;
}


/* ========== Sticky ========== */
#container div.content-wrap {
    display: flex;
}

aside#aside.sidebar {
    margin-inline-start: auto;
    margin-left: auto;
}
